@font-face {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://coolguyvarun01.github.io/poppinsfonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins Regular';
  font-style: italic;
  font-weight: 400;
  src: url('https://coolguyvarun01.github.io/poppinsfonts/Poppins-Italic.ttf') format('truetype');
}
