@font-face {
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: 400;
  src: url('https://coolguyvarun01.github.io/poppinsfonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins Medium';
  font-style: italic;
  font-weight: 400;
  src: url('https://coolguyvarun01.github.io/poppinsfonts/Poppins-MediumItalic.ttf') format('truetype');
}
